
#.meta
#.csproj
#.sln
#Temp/
#ProjectSettings/
#Anim/
#Audio/
#Library/
#.vs/*

*Temp/*

#except
!*.cs
!*.png
!*.PNG
!*.jpg
!*.JPG
!*.wav
!*.WAV
#!*ProjectSettings/
!*.ttf
!*.TTF
!*.FON
#!*.asset
#!*ProjectVersion.txt

*.meta

#ignore tsp files
*.tsp
*.par
*.out.txt

#even if in sub-directories
!*/

*.sln
*.csproj
!*TileScene.unity


#*.prefs
#*.db
#*.xml
#*.dll


#Library/
#Library/*
#ProjectSettings/
Standard*Assets/
Sample*Scenes/
_MSGameScratchPad/
.vs/
